body {
  background: grey;
}
.App {
  margin: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.App > button {
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.App > button::before {
  content: "";
  padding-bottom: 45%;
  display: block;
}
.App > button::after {
  content: "";
  padding-bottom: 45%;
  display: block;
}
